html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

html, body{
    height: 100%;
}

.main{
    flex-grow: 1;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

/* ---------------header-------------- */

.header{
    background-color: #151515;
}

.header-main{
    background-color: transparent;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}


.header-inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.menu-list {
    display: flex;
    gap: 35px;
}

.menu-list-link {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    
}

/* ------------------------------------- */

/* ----------------main----------- */

/* ------header top------------ */

.top {
    color: white;
    text-align: center;
    padding-top: 247px;
    padding-bottom: 50px;
    background-image: url();
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
}

.title {
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top-link {

    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.swiper::before{
    content: '';
    background: rgba(21, 21, 21, .3);
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.swiper-slide{
    height: 100vh;
    background-position: top ;
    background-repeat: no-repeat;
    background-size: cover;
} 

.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
    margin: 0 15px !important;
}
.swiper-pagination-bullet-active{
    height: 6px;
    background-color: #fff;
}

/* ------------------------------------- */

/* ---------------why-lease---------------------- */

.why-lease {
    padding: 150px 0;
}

.why-lease-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}
.why-lease-item {
}
.why-lease-item-img {
    margin-bottom: 30px;
}
.why-lease-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}
.why-lease-text {
    text-align: left;
}

/* ------------------------------------- */

/* ---------------how-does---------------------- */


.how-does {
    padding-bottom: 150px;
}

.inner {
    max-width: 600px;
    margin: 0 auto;
}

.how-does-text {
}
.how-does-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}
.how-does-list {
    padding: 50px 0 70px;
    counter-reset: myCounter;
}

.how-does-item::before{
    counter-increment: myCounter;
    content: counter(myCounter);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066FF;
    font-size: 48px;
    font-weight: 700;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    position: absolute;

}
.how-does-item {
    list-style-type: none;
    width: 270px;
    position: relative;
    margin-left: auto;
    padding-left: 240px;
    left: 0;
    box-sizing: content-box;
}


/* ------------------------------------- */


/* --------------footer--------------- */
.footer {
    background-color: #151515;
    padding: 50px 32px;
    color: white;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer-menu-list {
    max-width: 250px;
}

.footer-menu-item +.footer-menu-item{
    padding-top: 20px;
}

.footer-menu-title {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
}

.footer-menu-link {}

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
}

.footer-copy {
    max-width: 800px;
    font-size: 12px;
    margin: 0 auto 30px;
    text-align: center;
}

.copy-nav-list {
    display: flex;
        gap: 40px;
        justify-content: center;
}

/* -------------------------------------- */